:root {
    --font-colr: white;

    --h1-fnt-sz: 3.2rem;
    --h2-fnt-sz: 2.6rem;
    --stndrd-fnt-sz: 1.8rem;

    --main-bckgrnd: rgba(226, 242, 237, 0.77);

    --font-choice: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/*  =========================  
        SECTION
    ========================= */

html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: var(--main-bckgrnd);

}

section {
    width: 98.5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: bottom;
}

#Div1 {
    width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
#Div2 {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#myBio {
    height: 100%;
    width: 98%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myBio img {
    max-width: 298px;
    max-height: 448px;
    width: auto;
    height: auto;
}

#myBio a {
    font-size: var(--h2-fnt-sz);
    text-decoration: none;
    color: rgb(29, 14, 14);
    font-family: var(--font-choice);
    padding: 1rem;
}

#border {
    background: rgba(123, 155, 145, .5);
    height: 100%;
    width: 1%;
    border: groove;
    border-color: rgba(68, 97, 88, .1);
    border-radius: 1rem;

}

#Chicago {
    background-image: url("../images/chicago.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    z-index: -1;
}

#Chicago h1 {
    font-size: var(--h1-fnt-sz);
    color: red;
    z-index: 99;
}

.wowz {
    font-size: .5rem;
    height: 4vh;
    border: ridge;
    border-color: rgba(68, 97, 88, .05);
    border-radius: 1rem;
    margin: .2rem;
    transition: height 1s, font-size 1s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thumbnail {
    transition: transform 1s, margin 1s;
    transition-timing-function: ease-in-out;
}

.wowz:hover {
    font-size: 3rem;
    height: 20vh;   
}
.wowz:hover >.thumbnail{
    transform: scale(20);
    margin: 0 7rem 0 0;
}
