:root {
    --font-colr: white;

    --h1-fnt-sz: 3.2rem;
    --h2-fnt-sz: 2.6rem;
    --stndrd-fnt-sz: 1.8rem;

    --main-bckgrnd: rgba(226, 242, 237, 0.77);
}

/*  =========================  
        SECTION
    ========================= */

html {
    font-size: 62.5%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: var(--main-bckgrnd);

}

section {
    width: 98.5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: bottom;
}

#Div1 {
    width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
#Div2 {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#myBio {
    height: 100%;
    width: 98%;
}
#border {
    background: rgba(123, 155, 145, .5);
    height: 100%;
    width: 1%;
    border: groove;
    border-color: rgba(68, 97, 88, .1);
    border-radius: 1rem;

}

.wowz {
    font-size: .5rem;
    height: 4vh;
    border: ridge;
    border-color: rgba(68, 97, 88, .05);
    border-radius: 1rem;
    margin: .2rem;
    transition: height 2s, font-size 2s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thumbnail {
    transition: transform 2s, margin 2s;
    transition-timing-function: ease-in-out;
}

.wowz:hover {
    font-size: 3rem;
    height: 20vh;   
}
.wowz:hover >.thumbnail{
    transform: scale(20);
    margin: 0 7rem 0 0;
}
