:root {
    --font-colr: white;

    --h1-fnt-sz: 3.2rem;
    --h2-fnt-sz: 2.6rem;
    --stndrd-fnt-sz: 1.8rem;

    --main-bckgrnd: rgba(14, 20, 20, 1);
    --secondary: rgba(190, 110, 15, 1);
    --secondary-drk: rgb(82, 53, 19);
    --old-bckgrnd: rgba(226, 242, 237, 0.77);
    --main-bckgrnd-clr: rgba(226, 242, 237, 0.27);
    --main-bckgrnd-fdd: rgba(226, 242, 237, 0.77);
    --drk-bckgrnd: rgba(111, 15, 15, .9);

    --font-choice: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




/*  =========================  
        SECTION
    ========================= */

html {
    font-size: 62.5%;
}

/* Learned how to do fade via resource: https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/#:~:text=Use%20animation%20and%20transition%20property,the%20opacity%20set%20to%201. */
body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    background: var(--main-bckgrnd);

    opacity: 0;
    transition: opacity 2s;
}

section {
    width: 98.5vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

footer {
    margin-top: bottom;
}

#Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: var(--font-choice);
    font-size: 4rem;
    color: black;
    text-shadow: 2px 2px var(--old-bckgrnd);


    margin-left: 5rem;
}

#Div1 {
    width: 40%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}
#Div2 {
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

#myBio {
    height: 100%;
    width: 98%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myBio img {
    max-width: 298px;
    max-height: 448px;
    width: auto;
    height: auto;
}

#myBio a {
    font-size: var(--h2-fnt-sz);
    text-decoration: none;
    color: var(--old-bckgrnd);
    font-family: var(--font-choice);
    padding: 1rem;
    /* border-style: none solid none none;
    border-color: var(--secondary); */
    /* text-shadow: 1px 1px rgb(114, 102, 89); */
}

#myBio a:hover {
    color: var(--secondary);
}

#border {
    background: rgba(123, 155, 145, .5);
    height: 100%;
    width: 1%;
    border: groove;
    border-color: rgba(68, 97, 88, .1);
    border-radius: 1rem;

}

#STORY {
    background-image: url("../images/chicago.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 2rem 0 2rem 0;
    z-index: -1;

    display: flex;
    flex-direction: row-reverse;
}

.introBorder {
    background: var(--secondary);
    min-height: 40vh;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none solid solid none;
    border-width: 1rem;
    border-color: var(--secondary-drk);

}

.linkBorder {
    background: var(--secondary);
    padding: 2px;
    margin: 3px;
}

.fadeBorder {
    background: var(--main-bckgrnd-clr);
    margin: 10rem;
    max-height: 30vh;
}

.fadeBorder aside {
    max-width: 25vw;
}
.fadeBorder aside h1 {
    font-size: var(--h1-fnt-sz);
    font-family: var(--font-choice);
    color: white;
    -webkit-text-stroke: 1px black;
}
.fadeBorder aside p {
    background: var(--main-bckgrnd-fdd);
    font-size: var(--stndrd-fnt-sz);
}

.wowz {
    font-weight: bold;
    height: 4vh;
    border: ridge;
    border-color: rgba(68, 97, 88, .5);
    border-radius: 1rem;
    margin: .2rem;
    transition: height 1s, font-size 1s, background-color 1s;
    transition-timing-function: ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--old-bckgrnd);
}

.wowz a:link {
    text-decoration: inherit;
    color: inherit;
}

.wowz a:visited {
    text-decoration: inherit;
    color: inherit;
}

.thumbnail {
    transition: transform 1s, margin 1s;
    transition-timing-function: ease-in-out;
}

.wowz:hover {
    font-size: 3.5rem;
    height: 20vh;   
    background-color: var(--secondary);
}
.wowz:hover >.thumbnail{
    transform: scale(20);
    margin: 0 7rem 0 0;
}
